<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Hi! My name is Aaron, a rising junior at the University of California, San Diego. Check out my <a href="http://aaronchien.github.io">website</a>! 
  Special thanks to Michael Hartl's <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> for guiding me through my first Rails application!
</p>